@page "/"
@page "/ahorcado"
@using System.Text.RegularExpressions
@using AhorcadoLibreria
@using AhorcadoLibreria.Constants
@inject NavigationManager Navigation

@code {
	private Ahorcado juego;
	private string palabra = "";
	private string mensaje = "";
	private char letraIngresada;
	private string intentoPalabra = "";

	protected override void OnInitialized()
	{
		var palabra = new GeneradorPalabras().GenerarPalabra();
		juego = new Ahorcado(palabra);
	}

	private void Reiniciar()
	{
		var palabra = new GeneradorPalabras().GenerarPalabra();
		juego = new Ahorcado(palabra);
		mensaje = string.Empty;
	}
	private void IngresarLetra()
	{
		if (juego.IngresarLetra(letraIngresada))
		{
			mensaje = $"Letra '{letraIngresada}' encontrada!";
			letraIngresada = '\0';
		}
		else
			mensaje = $"Letra '{letraIngresada}' no encontrada.";

		if (juego.EstaTerminado())
			mensaje = "¡Felicidades, has ganado!";

	}

	private void ArriesgarPalabra()
	{
		var resultado = juego.ArriesgarPalabra(intentoPalabra);
		intentoPalabra = "";

		switch (resultado)
		{
			case EnumResultados.Ganaste:
				mensaje = "¡Ganaste!";
				break;
			case EnumResultados.Perdiste:
				mensaje = "Palabra incorrecta. Sigue intentando.";
				break;
			default:
				mensaje = "El intento no es válido.";
				break;
		}
	}
}

<h3>Juego del Ahorcado</h3>
<p>@mensaje</p>

<div>
	<h4>Palabra a adivinar:</h4>
	<p>
		@foreach (var letra in juego.Adivinadas)
		{
			if (letra.IsAdivinada)
				@($"{letra.Letra} ")
			else
				@("_ ")
		}
	</p>

	<h4>Ingresar Letra</h4>
	<input type="text" @bind="letraIngresada" maxlength="1" />
	<br />
	<br />
	<button @onclick="IngresarLetra">Probar Letra</button>

	<h4>Arriesgar Palabra Completa</h4>
	<input type="text" @bind="intentoPalabra" />
	<br />
	<br />
	<button @onclick="ArriesgarPalabra">Arriesgar</button>

	<br />
	<br />
	<button @onclick="Reiniciar">Reiniciar</button>

</div>
